@use '_index' as *;


body {
	background-color: $body-bg;
	font-family: $font-family;
}
#body-login {
	background: $body-login-bg;
}
#login-bar {
	@include login-bar-bg;
}

#logout {
	&:hover {
		opacity: .7;
	}
}
#admin-container {
	border: $admin-container-border;
}
#content-container {
	min-height: 720px;
	a {
		color: $content-container-a-color;
		&:hover {
			opacity: .7;
		}
	}
}
footer {
	background: $footer-bg;
}
.pblue-border {
	border: $pblue-border;
}
.pblue-bg {
	background: $pblue-bg;
}
.deblue-bg {
	background: $deblue-bg;
}
.hr-pblue {
	opacity: 1;
	border: 0;
	height: 4px;
	@include hr-pblue-bg;
	border-radius: 2px;
}
.steel-gradient {
	@include bg-steel-gradient;
}

label {
	&:not([for='']) {
		cursor: pointer;
	}
}
nav {
	background: $nav-bg;
	a {
		color: $nav-a-color;
		text-decoration: none;
		border-bottom: 2px solid transparent;
	}
	li {
		a {
			&:hover {
				background-color: $nav-li-a-hover-bg;
				border-bottom: $nav-li-a-hover-border;
			}
		}
	}
}
.navbar-toggler {
	color: $navbar-toggler-color;
}
.w-90px {
	width: 90px !important;
}
.w-5 {
	width: 5% !important;
}
.w-10 {
	width: 10% !important;
}
.w-15 {
	width: 15% !important;
}
.w-20 {
	width: 20% !important;
}
.btn-primary {
	background: $btn-primary-bg;
	color: $btn-primary-color;
	border-color: $btn-primary-border-color;
	&:hover {
		background: $btn-primary-hover-bg;
		border-color: $btn-primary-a-hover-border-color;
	}
	&:active {
		background: $btn-primary-active-bg !important;
	}
}
.btn-secondary {
	background: $btn-secondary-bg;
	&:hover {
		background: $btn-secondary-hover-bg;
	}
}
.hamburger {
	background: $hamburger-bg;
	padding: 20px;
}
.input-group-text {
	border-radius: .215rem;
	background: $input-group-text-bg;
	color: $input-group-text-color;
	border-color: $input-group-text-border-color;
}
.input-group {
	>.form-control {
		border-bottom-right-radius: .215rem;
		border-top-right-radius: .215rem;
	}
}
.form-control {
	border-color: $form-control-border-color;
}
input[type=range] {
	accent-color: $input-range-accent-color;
}
input {
	&:hover {
		cursor: pointer;
	}
}
.breadcrumb {
	a {
		&:hover {
			background: transparent;
			color: $breadcrumb-a-hover-color;
			text-decoration: none;
		}
	}
}
#files-toolbar {
	#search {
		margin-top: 2px;
	}
}
.tab-content {
	border: $tab-content-border;
	border-top: 0;
}
.files-container {
	.breadcrumb-item {
		a {
			color: $breadcrumb-item-color !important;
			&:hover {
				opacity: 1 !important;
			}
		}
	}
}
.folder-path-link {
	&:hover {
		text-decoration: underline !important;
		opacity: 1;
	}
}
#upload-dropzone {
	border: $upload-dropzone-border;
	&:hover {
		background: $upload-dropzone-hover-bg;
		cursor: pointer;
	}
}
.folder-icon {
	color: $folder-icon-color;
}
.folder-link {
	z-index: 1;
	&:hover {
		opacity: .7;
	}
}
.file-listing {
	.card {
		border: 0;
	}
	.card-header {
		z-index: 2;
		a {
			&:hover {
				opacity: .7;
			}
		}
	}
	.card-body {
		padding-top: 0;
		padding-bottom: 0;
	}
	a {
		text-decoration: none;
	}
}
.ratings-star {
	color: $ratings-star-color;
}
.image {
	max-width: 178px !important;
	max-height: 128px !important;
}
.file-listing-lg {
	.card-header {
		position: absolute;
		top: 0;
		right: 0;
		background: $file-listing-lg-card-header-bg;
	}
	>i {
		opacity: .5;
		&:hover {
			opacity: 1;
		}
	}
}
.figure.file-lg {
	width: 200px;
	height: 200px;
}
.figure.folder-lg {
	width: 200px;
	height: 200px;
}
.file-lg {
	img {
		max-height: 200px !important;
		max-width: 200px !important;
		margin-left: 15px;
		margin-right: 15px;
	}
}
.folder-lg {
	height: 200px !important;
	width: 200px !important;
	margin-left: 15px;
	margin-right: 15px;
}
#image-modal {
	.modal-body {
		background: $image-modal-body-bg;
		background: transparent;
	}
	.modal-header {
		border-top-right-radius: 0.25rem;
		border-top-left-radius: 0.25rem;
	}
	.modal-footer {
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
}
#delete-modal {
	.modal-header {
		border-top-right-radius: 0.25rem;
		border-top-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}
}
.fadein {
	animation: fadein 2s;
}
@media (min-width: 992px) {
	#body-login {
		background: $body-login-lg-bg;
		background-size: 300% 300%;
		animation: loginbg 26s ease infinite;

		@keyframes loginbg {
			0% {
				background-position: 0% 50%;
			}
	
			50% {
				background-position: 100% 50%;
			}
	
			100% {
				background-position: 0% 50%;
			}
		}
	}
}
