/* Bootstrap Form Specific */

$form-control-border-color: #46576E;

$input-group-text-bg: #46576E;
$input-group-text-color: #fff;
$input-group-text-border-color: #46576E;

$btn-primary-bg: #46576E;
$btn-primary-hover-bg: #46576Ede;
$btn-primary-color: #fff;
$btn-primary-a-hover-border-color: #3E5C76de;
$btn-primary-border-color: #46576E;
$btn-primary-active-bg: #46576Ede;

$btn-secondary-bg: #1D2D44;
$btn-secondary-hover-bg: #1D2D44cc;

$input-range-accent-color: #fff !important;

