/* Bootstrap Navigation Specific */

$nav-bg: #1D2D44;
$nav-a-color: #fff;
$nav-li-a-hover-bg: #354863;
$navbar-toggler-color: #fff;
$nav-li-a-hover-border: 2px solid #748CAB;

$breadcrumb-a-hover-color: #fff;
$breadcrumb-item-color: #fff;

$hamburger-bg:  #1D2D44ed;
